<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Zelda BotW Armor Upgrade</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<script src="lib/jquery/dist/jquery.slim.min.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="lib/lodash/dist/lodash.min.js"></script>
	<script src="lib/vue/dist/vue.min.js"></script>
	<script type="text/javascript" src="zelda.js"></script>

	<style type="text/css">
		.tag {
			display: flex;
		}

		.tag>* {
			text-decoration: underline;
			list-style: none;
			padding: 2px;
			font-size: 1rem;
		}

		body {
			padding-top: 50px;
		}

		.template {
			padding: 40px 15px;
		}

		.fixed-top {
			position: fixed;
			height: 100px;
			background-color: white;
			width: 100%;
			top: 51px;			
		}

		.tab-content {
			padding-top: 75px;
		}
	</style>

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				 aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">McRadane</a>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="template">
			<div id="armors">

				<div class="fixed-top">
					<button v-on:click="save()">save</button>
					<button v-on:click="reset()">reset</button>
					<select v-model="language">
						<option value="fr">Français</option>
						<option value="en">Anglais</option>
					</select>
	
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#armorList" aria-controls="armorList" role="tab" data-toggle="tab">Armures</a>
						</li>
						<li role="presentation">
							<a href="#materialList" aria-controls="materialList" role="tab" data-toggle="tab">Composants</a>
						</li>
					</ul>
				</div>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="armorList">
						<h2>Armures</h2>
						<table class="table">
							<tr>
								<th><small>Possedé</small></th>
								<th><small>A améliorer</small></th>
								<th>Nom</th>
								<th>Niveau actuel</th>
								<th>Niveau 2</th>
								<th>Niveau 4</th>
							</tr>
							<tr v-for="armor in armors">
								<td>
									<input type="checkbox" id="checkboxOwned" v-model="armor.owned">
								</td>
								<td>
									<input v-if="armor.owned" type="checkbox" id="checkboxActive" v-model="armor.active">
								</td>								
								<td>
									{{ trans(armor.name) }}
								</td>
								<td>
									<input v-if="armor.current !== undefined" v-model.number="armor.current " type="number" min="0" max="4" />
								</td>
								<td>
									<ul class="tag">
										<li v-for="item in getSum(armor, 2)">{{ trans(item.name) }} : {{ item.quantity }}</li>
									</ul>
								</td>
								<td>
									<ul class="tag">
										<li v-for="item in getSum(armor, 4)">{{ trans(item.name) }} : {{ item.quantity }}</li>
									</ul>
								</td>
							</tr>
						</table>

					</div>
					<div role="tabpanel" class="tab-pane" id="materialList">
						<h2>Composant pour les armures sélectionnées</h2>
						<h3>Composants pour le niveau 2</h3>
						<ul>
							<li v-for="material in getAllActiveMaterial(2)">{{ trans(material.name) }} : {{ material.quantity }} ({{ Object.values(material.armors).join(', ') }})</li>
						</ul>

						<h3>Composants pour le niveau 4</h3>
						<ul>
							<li v-for="material in getAllActiveMaterial(4)">{{ trans(material.name) }} : {{ material.quantity }} ({{ Object.values(material.armors).join(', ') }})</li>
						</ul>
						<h2>Composant pour toutes les armures</h2>
						<h3>Composants pour le niveau 2</h3>
						<ul>
							<li v-for="material in getAllMaterial(2)">{{ trans(material.name) }} : {{ material.quantity }} ({{ Object.values(material.armors).join(', ') }})</li>
						</ul>

						<h3>Composants pour le niveau 4</h3>
						<ul>
							<li v-for="material in getAllMaterial(4)">{{ trans(material.name) }} : {{ material.quantity }} ({{ Object.values(material.armors).join(', ') }})</li>
						</ul>						
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container -->
</body>

</html>